body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    width: 100%;
}
table, td, th{
    border: 1px solid #333;

}
td, th{
     text-align: center;
     padding: 10px 20px;
}
caption{
    text-align: center;
}