.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.jumbotron {
    height:100%;
    width:100%;
}

h2{
    font-size:70px;
    font-weight: bold;
    border-bottom: 5px solid blue;
    padding-bottom: 10px;
}
.goback {
    color: #4684ab;
}