<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TIẾP NHẬN ĐẠI LÝ</title>
<!-- Nhúng file CSS -->
<link rel="stylesheet" href="dang-ki.css" />
</head>
<body>
<!-- Nhúng file JavaScript -->
<script language="javascript" src="dang-ki.js"></script>
<form action="" method="POST" onsubmit="return validate()">
<div class="register">
<h1>Đăng ký đại lý</h1>
<p>Vui lòng điền thông tin để đăng ký</p>
<hr>
<label for="username"><b>Tên đại lý</b></label>
<input type="text" placeholder="Tên đại lý" name="username" id="username" value="" required="required">
<label for="username"><b>Loại đại lý</b></label>
<input type="text" placeholder="Loại đại lý" name="username" id="username" value="" required="required">
<label for="username"><b>Số điện thoại</b></label>
<input type="tel" name="username" id="username" required="true" pattern="[0-9]{10,}" title="Định dạng là nhập là: Nhập 10 số xxxxxxxxxx" />
<label for="username"><b>Địa chỉ</b></label>
<input type="text" placeholder="Địa chỉ" name="username" id="username" value="" required="required">
<label for="username"><b>Quận</b></label>
<input type="text" placeholder="Quận" name="username" id="username" value="" required="required">
<label for="date"><b>Ngày tiếp nhận</b></label>
<input  type="date">
<hr>
<p>Vui lòng đồng ý với điều khoản của chúng tôi <a href="#">Terms & Privacy</a>.</p>
<button type="submit" class="submit">Đăng ký</button>
</div>
</div>
</form>
</body>
</html>